// Menu
$item-count: 8;
$item-size: 128px;

.menu {
  ul {
    text-align: center;
  }

  li {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 450px;
    height: 330px;
  }

  .item {
    display: block;
  }

  @for $i from 0 through $item-count - 1 {
    li:nth-child(#{$i + 1}) {
      transform: rotate(360deg / $item-count * $i) translateX(-$item-size);
    }
  }

}

@for $i from 0 through $item-count - 1 {
  li:nth-child(#{$i + 1}) .item {
    transform: rotate(-360deg / $item-count * $i);
  }
}
